<div class="container">
    <!--====== Primary Slider ======-->
    <div class="s-skeleton s-skeleton--h-400 s-skeleton--bg-black">
        <div class="owl-carousel primary-style-2" id="hero-slider">

            <div class="hero-slide hero-slide--4">
                <div class="primary-style-2-container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider-content slider-content--animation">

                                <span class="content-span-1 u-c-white">Find Top Brands</span>

                                <span class="content-span-2 u-c-white">10% Off On Intimates</span>

                                <span class="content-span-3 u-c-white">Find Intimates on best
                                    prices</span>

                                <span class="content-span-4 u-c-white">Starting At

                                    <span class="u-c-brand">$100.00</span></span>

                                <a class="shop-now-link btn--e-brand"
                                    href="shop-side-version-2.html">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-slide hero-slide--5">
                <div class="primary-style-2-container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider-content slider-content--animation">

                                <span class="content-span-1 u-c-white">Find Top Brands</span>

                                <span class="content-span-2 u-c-white">10% Off On Electronics</span>

                                <span class="content-span-3 u-c-white">Find electronics on best
                                    prices</span>

                                <span class="content-span-4 u-c-white">Starting At

                                    <span class="u-c-brand">$1000.00</span></span>

                                <a class="shop-now-link btn--e-brand"
                                    href="shop-side-version-2.html">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--====== End - Primary Slider ======-->
</div>