<div class="fixed-list">
    <ul class="nav" id="init-scrollspy">
        <li>
            <a class="nav-link" href="#home-top" data-click-scroll="#home-top"><i
                    class="fas fa-home"></i></a>
        </li>
        <li>
            <a class="nav-link" href="#all-category" data-click-scroll="#all-category"><i
                    class="fas fa-list"></i></a>
        </li>
        <li>
            <a class="nav-link" href="#all-product-tab" data-click-scroll="#all-product-tab"><i class="fas fa-fighter-jet"></i></a>
        </li>
        <li>
            <a class="nav-link" href="#home-footer" data-click-scroll="#home-footer"><i class="fas fa-info"></i></a>
        </li>
    </ul>
</div>