{% url 'my_account' as my_account_url %}
{% url 'edit_my_account' as edit_my_account_url %}
{% url 'track_order' as track_order_url %}
{% url 'my_order' as my_order_url %}
<div class="col-lg-3 col-md-12">

    <!--====== Dashboard Features ======-->
    <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
        <div class="dash__pad-1">

            <span class="dash__text u-s-m-b-16">Hello, {{customer.first_name}} {{customer.last_name}}</span>
            <ul class="dash__f-list">
                <li>
                    <a href="{{my_account_url}}" {% if request.path == my_account_url %}class="dash-active"{% endif %}>My Profile</a>
                </li>
                <li>
                    <a href="{{track_order_url}}" {% if request.path == track_order_url %}class="dash-active"{% endif %}>Track Order</a>
                </li>
                <li>
                    <a href="{{my_order_url}}" {% if request.path == my_order_url %}class="dash-active"{% endif %}>My Orders</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
        <div class="dash__pad-1">
            <ul class="dash__w-list">
                <li>
                    <div class="dash__w-wrap">

                        <span class="dash__w-icon dash__w-icon-style-1"><i
                                class="fas fa-cart-arrow-down"></i></span>

                        <span class="dash__w-text">4</span>

                        <span class="dash__w-name">Orders Placed</span>
                    </div>
                </li>
                <li>
                    <div class="dash__w-wrap">

                        <span class="dash__w-icon dash__w-icon-style-2"><i
                                class="fas fa-times"></i></span>

                        <span class="dash__w-text">0</span>

                        <span class="dash__w-name">Cancel Orders</span>
                    </div>
                </li>
                <li>
                    <div class="dash__w-wrap">

                        <span class="dash__w-icon dash__w-icon-style-3"><i
                                class="far fa-heart"></i></span>

                        <span class="dash__w-text">0</span>

                        <span class="dash__w-name">Wishlist</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--====== End - Dashboard Features ======-->
</div>